.jumbotron{
    text-align: center;
    background-color: #f0afe7;
    padding: 40px;
}

.display-4{
    color: #302f2f;
    font-weight: bold;
}

.lead{
    color: #302f2f;
    font-weight: bold;
}

.card{
    width: 80%;
    margin: 20px auto;
}

.form-control{
    margin: 2px 0 8px;
}

.form-group{
    width: 80%;
    margin: 0 auto;
}

label{
    margin-bottom: 0;
}

.btn-primary{
    margin: 20px 10%;
}

.card-header{
    margin-bottom: 20px;
    background-color: #b2b2f3;
}